.products-list {
    width: 90%;
    height: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.product {
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}